<div id="new-trip-section">
  <h1>New Trip</h1>
  <%= render partial: '/errors' %>
  <section class="form">
    <article class="form-wrapper">
      <%= form_for [@trip] do |i| %>
        <div class="form-section" id="locationField">
          <input id="autocomplete" placeholder="Add a New Place" onFocus="geolocate()" type="text"></input>
        </div>
        <div class="form-section">
          <p><%= i.hidden_field :name %></p>
        </div>
        <div class="form-section">
          <p><%= i.hidden_field :lookup %></p>
        </div>
        <div class="form-section">
          <p><%= i.hidden_field :location %></p>
        </div>
        <div class="form-section first-field">
          <p><%= i.label :start_date %></p>
          <p><%= date_field(:trip, :start_date, value: Time.now.strftime('%Y-%m-%d')) %></p>
        </div>
        <div class="form-section">
          <p><%= i.label :end_date %></p>
          <p><%= date_field(:trip, :end_date, value: (Time.now + 6.days).strftime('%Y-%m-%d')) %></p>
        </div>
        <div class="form-section">
          <p><%= i.label :description %></p>
          <p><%= i.text_area :description %></p>
        </div>
        <div>
          <%= i.submit %>
        </div>
      <% end %>
    </article>
  </section>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmWYK4EZmBmDeiEhduAajCiTiAqrt8BGc&libraries=places&callback=initAutocomplete" async defer> console.log("🔵🔵🔵Views-Trips-NEW-page🔵🔵🔵")</script>
