<section>
<div class="container">
  <h1><%= @trip.name %></h1>
  <h4> <%= @trip.location %></h4>
  <div class="date">
    <span> <%= @trip.start_date %> - <%= @trip.end_date%></span>
    <%= link_to 'Edit', edit_trip_path(@trip) %>
  </div>
</div>

<div class="container">

  <div class="map">
    This is a map
  </div>

<!-- REVISIT THIS once there's a status on adding items on google maps -->
  <div class="drop-down">
    <form class="" action="index.html" method="post">
      <select>
        <option value="" disabled="disabled" selected="selected">What would you like to add?</option>
        <option value="1">URL</option>
        <option value="2">Custom</option>
      </select>
    </form>
    <%= link_to 'new item', new_trip_item_path(@trip) %>
  </div>
</div>


<div class="container day">
  <div class="testing">
    <% @trip.start_date.upto@trip.end_date do |day| %>
    <h3><a href="/trips/<%=@trip.id%>/days/<%=day%>"><%= day %></a></h3>


  <div class="wrapper">
    <% Item.where('date BETWEEN ? AND ?', day.beginning_of_day, day.end_of_day).each do |item| %>
      <h3><%= item.title %></h3>


      <div class="box modal">
        <div class="interior">
          <a class="btn" href="#open-modal">Day</a>
        </div>
        <div id="open-modal" class="modal-window">
          <div>
            <a href="#modal-close" title="Close" class="modal-close">Close</a>
            <h2><%=item.title %></h2>
            <div> <%= item.body%></div>
            </div>
        </div>
      </div>

      <%end%>
    </div>
    <% end %>


    <% if @trip.items.where("date is null") %>
    <div class="no-date">
      <h1> Items WITH NO DATES</h1>
      <%  @trip.items.where("date is null").each do |nodate| %>
        <li>  <%= nodate.title %> </li>
        <h5> display modal for each one here</h5>
      <% end %>
    </div>

    <% end %>
  </div>
</div>



<div class="message">
  <h3> Message Wall</h3>
  <form class="message input" action="index.html" method="post">
    <input type="text" name="" placeholder="Add to the conversation.."/>
  </form>
  <!-- display messages here -->
  <div class="">
    <input readonly= "readonly" type="text" name="" value="So excited to eat cookies">
    <h5>
      <img src="http://i.imgur.com/CAd6Wnm.jpg" alt="">
       Natalie Ruiz</h5>
       <input readonly= "readonly" type="text" name="" value="Me too!">
       <h5>
         <img src="http://i.imgur.com/CAd6Wnm.jpg" alt="">
        Alex Hill</h5>
  </div>
</div>

<div class="">
  <h3>Friends</h3>
  <div class="friend-box">
    friend 1
  </div>
  <div class="friend-box">
    friend 2
  </div>
  <div class="friend-box">
    friend 3
  </div>
  <div class="friend-box">
    friend 4
  </div>
  <button type="button" name="button">Add friends</button>
</div>
</section>
<section class="testing">
  <p>Trips#show</p>
  <h2>THIS IS WHAT BRENT ADDED</h2>
  <p>Find me in app/views/trips/show.html.erb</p>
  <h3>NAME: <%= @trip.name %></h3>
  <h3>LOCATION: <%= @trip.location %></h3>
  <h3>DESCRIPTION: <%= @trip.description %></h3>

  <h3>COMMENTS: </h3>
  <ul>
    <% @trip.comments.each do |c| %>
      <li><%= c.user.email %> | <%= c.body %></li>
    <% end %>
  </ul>

  <h3>USERS: </h3>
  <ul>
    <% @trip.users.each do |u| %>
      <li><%= u.email %></li>
    <% end %>
  </ul>

  <h3>ITEMS: </h3>
  <ul>
    <% @trip.items.each do |i| %>
    <% if i.title %>
    <h3>TITLE: <%= i.title %></h3>
    <% end %>
      <h5>BODY: <%= i.body %></h5>
      <ul>
        <li>CATEGORY: <%= i.category %> | <%= i.user.email %></li>


        <% if i.date %>
          <li>DATE: <%= i.date %></li>
        <% end %>

        <li>VOTES: <%= i.votes.count %></li>
        <li>COMMENTS: <%= i.comments.count %></li>
        <ol>
          <% i.comments.each do |c| %>
            <li><%= c.user.email %> | <%= c.body %></li>
          <% end %>
        </ol>
        <% if i.image %>
          <img class="item-image" src="<%= i.image %>" alt="">
        <% end %>
      </ul>
    <% end %>
  </ul>

</section>
