<h1>Trips#show</h1>
<h3>Find me in app/views/trips/show.html.erb</h3>
<p>NAME: <%= @trip.name %></p>
<p>LOCATION: <%= @trip.location %></p>
<p>DESCRTIPTION: <%= @trip.description %></p>

<p>COMMENTS: </p>
<ul>
  <% @trip.comments.each do |c| %>
    <li><%= c.user.email %> | <%= c.body %></li>
  <% end %>
</ul>

<p>USERS: </p>
<ul>
  <% @trip.users.each do |u| %>
    <li><%= u.email %></li>
  <% end %>
</ul>

<p>ITEMS: </p>
<ul>
  <% @trip.items.each do |i| %>
    <li>CATEGORY: <%= i.category %></li>
    <p>BODY: <%= i.body %> | <%= i.user.email %></p>
    <p>Number of Comments: <%= i.comments.count %></p>
    <p>Number of Votes: <%= i.votes.count %></p>
    <p>COMMENTS:</p>
    <ol>
      <% i.comments.each do |c| %>
      <p>HI</p>
        <li><%= c.body %></li>
      <% end %>
    </ol>
  <% end %>
</ul>
