<h1>Trips#show</h1>
<li>Find me in app/views/trips/show.html.erb</li>
<h3>NAME: <%= @trip.name %></h3>
<h3>LOCATION: <%= @trip.location %></h3>
<h3>DESCRTIPTION: <%= @trip.description %></h3>

<h3>COMMENTS: </h3>
<ul>
  <% @trip.comments.each do |c| %>
    <li><%= c.user.email %> | <%= c.body %></li>
  <% end %>
</ul>

<h3>USERS: </h3>
<ul>
  <% @trip.users.each do |u| %>
    <li><%= u.email %></li>
  <% end %>
</ul>

<h3>ITEMS: </h3>
<ul>
  <% @trip.items.each do |i| %>
    <h4>BODY: <%= i.body %></h4>
    <ul>
    <li>CATEGORY: <%= i.category %> | <%= i.user.email %></li>
    <li>VOTES: <%= i.votes.count %></li>
    <li>COMMENTS: <%= i.comments.count %></li>
    <ol>
      <% i.comments.each do |c| %>
        <li><%= c.user.email %> | <%= c.body %></li>
      <% end %>
    </ol>
  </ul>
  <% end %>
</ul>
