<!-- INFO SECTION -->
<section id="trips-details">
  <article id="trip-detail-wrapper">
    <div class="container">
      <h1><%= @trip.name %></h1>
      <h4> <%= @trip.location %></h4>
      <div class="date">
        <span> <%= @trip.start_date.strftime("%A, %B %e") %> - <%= @trip.end_date.strftime("%A, %B %e")%></span>
        <%= link_to 'Edit', edit_trip_path(@trip) %>
      </div>
    </div>
  </article>
</section>

<!-- MAP SECTION -->
<%= render "trips/map.html.erb"%>

<!-- SEARCH BAR SECTION -->
<section id="trip-search">
  <article="trip-search-wrapper">
    <div class="drop-down">
      <%= render partial: "items/form"%>
    </div>
    <div id="toggle">
      <%= render partial: "items/form_other"%>
    </div>
    <a href="#" class="close">Close</a>
  </article>
</section>

<!-- TRIP TILE SECTION -->
<section id="trip-items" class="container day">
  <!-- All the days of the trip -->
    <% @trip.start_date.upto@trip.end_date do |day| %>
      <article class="trip-day">
        <h3><a href="/trips/<%=@trip.id%>/days/<%=day%>"><%= day.strftime("%A, %B %e") %></a></h3>
        <div class="item-wrapper">
          <!-- Each day of the trip -->
          <% @trip.items.where('date BETWEEN ? AND ?', day.beginning_of_day, day.end_of_day).each do |item| %>
            <div class="box">
              <div class="interior">
                <a href="/trips/<%= @trip.id %>/items/<%= item.id %>"><%=item.title %></a>
              </div>
            </div>
          <%end%>
        </div>
      </article>
    <% end %>
  <!-- No date yet -->
    <% if @trip.items.where("date is null") %>
    <article class="trip-no-date">
      <h1> Items WITH NO DATES</h1>
      <%  @trip.items.where("date is null").each do |nodate| %>
        <div class="box">
          <div class="voting">
            <form method="post" action= "/trips/<%=@trip.id%>/items/<%=nodate.id%>/votes" id="vote-item-form">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <button class="vote-button" type="submit" name="up_down" value="1"><img src="http://svgur.com/i/1wr.svg" class="upvote"></button>
              <% total_vote = 0 %>
              <% nodate.votes.each do |vote| %>
                <% total_vote += vote.up_down  %>
              <% end %>
              <button class="vote-button" type="submit" name="up_down" value="-1" ><img src="http://svgur.com/i/1uw.svg" class="downvote"></button>
            </form>
          </div>
          <img src="<%= nodate.image %>" class="tile-image">
            <div class="info-overlay">
              <%= nodate.title %>
              <div class="dropdown">
                <img src="http://svgur.com/i/1w0.svg" class="cal-button">
              </div>
            </div>
        </div>
      <% end %>
    <% end %>
  </article>
</section>


<!-- MESSAGING SECTION -->
<section id="message-section">
  <h3> Message Wall</h3>
  <article="message-wrapper">
    <div class="message">
      <!-- display messages here -->
      <% @trip.comments.each do |comment| %>
        <div class="message-wrapper">
          <input readonly= "readonly" type="text" name="" value="<%= comment.body %>">
          <div class="comments-details">
            <div class="comments-user-pic">
              <img src="<%= comment.user.image %>" />
            </div>
            <div class="comments-user-name-date">
              <p><%= comment.user.email %></p>
              <span><%= comment.updated_at.strftime("%m/%d/%Y at %I:%M%p") %></span>
            </div>
          </div>
        </div>
      <% end %>
      <!-- create new messages -->
      <div class="new-messages">
        <%= link_to 'Add a comment', new_trip_comment_path(@trip, @comment) %>
      </div>
    </div>
  </article>
</section>


<!-- FRIENDS SECTION -->
<section id="friends-section">
  <article id="friends-wrapper">
    <h3>Friends</h3>
    <% if @trip.users.count == 0 %>
      <p>No travelers yet!</p>
    <% else %>
      <% @trip.users.each do |friend| %>
        <div class="friend-box">
          <img src="<%= friend.image %>" />
          <p><%= friend.first_name%> <%= friend.last_name %></p>
        </div>
      <% end %>
    <% end %>
    <p><a href="/trips/<%= @trip.id %>/invite/new" id="add-friends-button">Add More Friends!</a></p>
  </article>
</section>

<!-- NEED FOR GOOGLE MAPS -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdXETbPhRPjeq0rjsbaKDwhRP9zsRK_vI&libraries=places&callback=initMain" async defer></script>

<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmWYK4EZmBmDeiEhduAajCiTiAqrt8BGc&libraries=places&callback=initMain" async defer></script>
 -->
