<!-- INFO SECTION -->
<section>
  <div class="container">
    <h1><%= @trip.name %></h1>
    <h4> <%= @trip.location %></h4>
    <div class="date">
      <span> <%= @trip.start_date.strftime("%A, %B %e") %> - <%= @trip.end_date.strftime("%A, %B %e")%></span>
      <%= link_to 'Edit', edit_trip_path(@trip) %>
    </div>
  </div>
</section>


<!-- MAP SECTION -->
<%= render "trips/map.html.erb"%>


<!-- SEARCH BAR SECTION -->
<section>
  <div class="drop-down">
    <%= render partial: "items/form"%>
  </div>

  <div id="toggle">
    <%= render partial: "items/form_other"%>
  </div>
  <a href="#" class="close">Close</a>
</section>



<!-- TRIP TILE SECTION -->
<section class="container day">
  <!-- All the days of the trip -->
  <div>
    <% @trip.start_date.upto@trip.end_date do |day| %>
      <h3><a href="/trips/<%=@trip.id%>/days/<%=day%>"><%= day.strftime("%A, %B %e") %></a></h3>
      <div class="wrapper">
        <!-- Each day of the trip -->
        <% @trip.items.where('date BETWEEN ? AND ?', day.beginning_of_day, day.end_of_day).each do |item| %>
          <div class="box">
            <div class="interior">
              <a href="#open-modal"><%=item.title %></a>
            </div>

            <!-- Where the model begins -->
            <div id="open-modal" class="modal-window">
              <div>
                <a href="#modal-close" title="Close" class="modal-close">Close</a>
                <h2><%= item.title %></h2>
                <div>
                  <%= item.body %>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    <% end %>
  </div>

  <!-- No date yet -->
  <div>
    <% if @trip.items.where("date is null") %>
    <div class="no-date">
      <h1> Items WITH NO DATES</h1>
      <div class="wrapper">

        <%  @trip.items.where("date is null").each do |nodate| %>
          <div class="box">

              <div class="voting">
              <form method="post" action= "/trips/<%=@trip.id%>/items/<%=nodate.id%>/votes" id="vote-item-form">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <button class="vote-button" type="submit" name="up_down" value="1"><img src="http://svgur.com/i/1wr.svg" class="upvote"></button>
                <% total_vote = 0 %>
                <% nodate.votes.each do |vote| %>
                  <% total_vote += vote.up_down  %>
                <% end %>

                <button class="vote-button" type="submit" name="up_down" value="-1" ><img src="http://svgur.com/i/1uw.svg" class="downvote"></button>
              </form>
              </div>
              <img src="<%= nodate.image %>" class="tile-image">
              <div class="info-overlay">
              <%= nodate.title %>
              <div class="dropdown">
              <img src="http://svgur.com/i/1w0.svg" class="cal-button">
              </div>
              </div>


          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</section>


<!-- MESSAGING SECTION -->
<section>
  <h3> Message Wall</h3>
  <div class="message">
    <!-- display messages here -->
    <% @trip.comments.each do |comment| %>
      <div class="message-wrapper">
        <input readonly= "readonly" type="text" name="" value="<%= comment.body %>">
        <div class="comments-details">
          <div class="comments-user-pic">
            <img src="<%= comment.user.image %>" />
          </div>
          <div class="comments-user-name-date">
            <p><%= comment.user.email %></p>
            <span><%= comment.updated_at.strftime("%m/%d/%Y at %I:%M%p") %></span>
          </div>
        </div>
      </div>
    <% end %>
    <!-- create new messages -->
    <div class="new-messages">
      <%= link_to 'Add a comment', new_trip_comment_path(@trip, @comment) %>
    </div>
  </div>
</section>


<!-- FRIENDS SECTION -->
<section>
  <div class="">
    <h3>Friends</h3>
    <div class="friend-box">
      friend 1
    </div>
    <div class="friend-box">
      friend 2
    </div>
    <div class="friend-box">
      friend 3
    </div>
    <div class="friend-box">
      friend 4
    </div>
    <button type="button" name="button">Add friends</button>
  </div>
</section>

<!-- TESTING -->
<section class="testing">
  <p>Trips#show</p>
  <h2>THIS IS WHAT BRENT ADDED</h2>
  <p>Find me in app/views/trips/show.html.erb</p>
  <h3>NAME: <%= @trip.name %></h3>
  <h3>LOCATION: <%= @trip.location %></h3>
  <h3>DESCRIPTION: <%= @trip.description %></h3>


  <h3>COMMENTS: </h3>
  <% if @trip.comments %>
    <ul>
      <% @trip.comments.each do |c| %>
        <li><%= c.user.email %> | <%= c.body %></li>
      <% end %>
    </ul>
  <% end %>
  
  <h3>USERS: </h3>
  <ul>
    <% @trip.users.each do |u| %>
      <li><%= u.email %></li>
    <% end %>
  </ul>

  <h3>ITEMS: </h3>
  <ul>
    <% @trip.items.each do |i| %>
    <% if i.title %>
    <h3>TITLE: <%= i.title %></h3>
    <% end %>
      <h5>BODY: <%= i.body %></h5>
      <ul>
        <li>CATEGORY: <%= i.category %> | <%= i.user.email %></li>

        <% if i.date %>
          <li>DATE: <%= i.date %></li>
        <% end %>

        <% if i.votes %>
        <li>VOTES: <%= i.votes.count %></li>
        <% end %>

        <% if i.image %>
          <img class="item-image" src="<%= i.image %>" alt="">
        <% end %>
      </ul>
    <% end %>
  </ul>


<!-- NEED FOR GOOGLE MAPS -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdXETbPhRPjeq0rjsbaKDwhRP9zsRK_vI&libraries=places&callback=initMain" async defer></script>

<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmWYK4EZmBmDeiEhduAajCiTiAqrt8BGc&libraries=places&callback=initMain" async defer></script>
 -->