<section id="user-travel-section">
  <article id="user-travel-header">
    <div class="travel-wrapper">
      <div class="travel-profile-pic">
        <img src="<%= @user.image %>" />
      </div>
      <div class="travel-details">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
        <h4><%= @user.email %></h4>
      </div>
    </div>
  </article>
</section>
<section id="travel-details">
  <article id="user-travel-flight">
    <% if @transportation == nil %>
      <p>No transporation for this trip yet.</p>
    <% else %>
      <h3><%= @transportation.title %></h3>
      <p>When: <%= @transportation.date.strftime("%A, %B %e") %></p>
    <% end %>
  </article>
  <article id="user-travel-lodge">
    <% if @lodging == nil %>
      <p>No lodging for this trip yet.</p>
    <% else %>
      <h3><%= @lodging.title %></h3>
      <p>When: <%= @lodging.date.strftime("%A, %B %e") %></p>
    <% end %>
  </article>
</section>
