<h1>My Trips</h1>
<center><img src="@user.image" alt="profile-picture"/></center>


<h3>Current Trip:</h3>
<ul>

<% if current_user.trips.where('start_date <= ?', Date.today).where('end_date >= ?', Date.today).each do |trip| %>
    <li> <%= trip.name %> in <%= trip.location %> from <%= trip.start_date.strftime("%A, %B %e") %> until <%= trip.end_date.strftime("%A, %B %e")%></li> </li>
    <%end %>
  </ul>
<% end %>

<h3><%= @user.first_name %>'s Upcoming Trips:</h3>
<ul>
  <% @trips.where('start_date > ?', Date.today).each do |trip| %>
    <li><%= trip.name %> in <%= trip.location %> from <%= trip.start_date.strftime("%A, %B %e") %> until <%= trip.end_date.strftime("%A, %B %e")%></li>
  <% end %>
</ul>
<h3><%= @user.first_name %>'s Past Trips:</h3>

<ul>
  <% @trips.where('end_date < ?', Date.today).each do |trip| %>
    <li><%= trip.name %> in <%= trip.location %> from <%= trip.start_date.strftime("%A, %B %e") %> until <%= trip.end_date.strftime("%A, %B %e")%></li>
  <% end %>
</ul>
