<section id="day-details">
  <article id="details-name-location">
    <div class="container">
      <h1><%= link_to @trip.name, @trip %></h1>
      <h4> <%= @trip.location %></h4>
    </div>
  </article>
  <article id="details-map">
    <%= render "trips/map.html.erb"%>
  </article>
  <article id="details-weather">
    <div class="container">
      <h1><%= @date.to_date.strftime("%A, %B %e") %></h1>
      <div class="weather">
        <span>It is 81 degrees and sunny in <%= @trip.location%></span>
      </div>
    </div>
  </article>
</section>
<section id="day-times">
  <% if !morning.empty? %>
  <article class="time-of-day-style" id="day-morning">
    <div class="morning">
      <h3>Morning</h3>
      <div class="wrapper">
        <% morning.each do |item| %>
          <div class="box">
            <li><%= item.title %></li>
          </div>
        <% end %>
      </div>
    </div>
  </article>
  <% end %>
  <% if !day.empty? %>
  <article class="time-of-day-style" id="day-afternoon">
    <div class="afternoon">
      <h3> Afternoon</h3>
      <div class="wrapper">
        <% day.each do |item| %>
          <div class="box">
            <li><%= item.title %></li>
          </div>
        <% end %>
      </div>
    </div>
  </article>
  <% end %>
  <% if !night.empty? %>
  <article class="time-of-day-style" id="day-evening">
    <div class="night">
      <h3> Night</h3>
      <div class="wrapper">
        <% night.each do |item| %>
          <div class="box">
            <li><%= item.title %></li>
          </div>
        <% end %>
      </div>
    </div>
  </article>
  <% end %>
</section>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdXETbPhRPjeq0rjsbaKDwhRP9zsRK_vI&libraries=places&callback=initMain" async defer>console.log("🛃🛃🛃Views-days-SHOW-page🛃🛃🛃")</script>
