<section>
  <%= form_for [@trip, @item] do |i| %>
  <div>
    <h3><%= i.label :title %></h3>
    <p><%= i.text_field :title %></p>
  </div>
  <div>
    <h3><%= i.label :category %></h3>
    <p><%= i.select :category, [['Location', 'location'], ['Event','event'], ['Other','other']] %></p>
  </div>
  <div>
    <h3><%= i.label :lookup %></h3>
    <p><%= i.text_field :lookup %></p>
  </div>
  <div>
    <p><%= i.label :address %></p>
    <p><%= i.text_field :address %></p>
  </div>
  <div>
    <p><%= i.label :imgae %></p>
    <p><%= url_field(:item, :image) %></p>
  </div>
  <div>
    <p><%= i.label :date %></p>
    <%= date_field(:item, :date) %>
  </div>
  <div>
    <p><%= i.label :body %></p>
    <p><%= i.text_field :body %></p>
  </div>
  <div>
    <%= i.submit %>
  </div>
  <% end %>
</section>
