<div class="box">
  <img src="<%= item.image %>" class="tile-image">
    <div class="info-overlay">
    </div>
    <div class="info">
      <%= item.title %>
      <div class="dropdown">
        <!-- <img src="http://svgur.com/i/1w0.svg" class="cal-button"> -->
        <form method="post" action= "/trips/<%=@trip.id%>/items/<%=item.id%>" id="update-date-<%=item.id%>">
        <input type="hidden" value="PATCH" name="_method">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <select class="dropdown-style" name="item[date]" onchange="this.form.submit()">
            <% @days.each do |day| %>
              <% if item.date %>
                <% if day == item.date.strftime("%A, %B %e") %>
                  <option value="<%=day%>" selected><%=day%></option>
                <% else %>
                  <option value="<%=day%>"><%=day%></option>
                <% end %>
              <% end %>
            <% end %>
          </select>
        </form>
      </div>
    </div>
  </div>
</div>
