<h1>Items edit page</h1>
<section class="form" id="item-new-other-form">
  <article class="form-wrapper">
  <%= render partial: '/errors' %>

  <%= form_for [@trip, @item] do |i| %>
    <div>
      <div class="form-section">
        <p><%= i.label :title %></p>
        <p><%= i.text_field :title, :required => true %></p>
      </div>

      <% @categories = ['Event', 'Transportation', 'Lodging', 'Other'] %>

      <div class="form-section">
        <p><%= i.label :category %></p>
        <p><%= i.select :category, @categories, {:prompt => 'Select Category'}, :required => true, :id => 'edit-item-select' %></p>
      </div>

      <div class="not-for-user-input">
        <p><%= i.label :Google_Lookup %></p>
        <p><%= i.text_field :lookup %></p>
      </div>

      <div class="not-for-user-input">
        <p><%= i.label :address %></p>
        <p><%= i.text_field :address %></p>
      </div>

      <div class="form-section">
        <p><%= i.label :image %></p>
        <p><%= url_field(:item, :image) %></p>
      </div>

      <div class="form-section">
        <p><%= i.label :date %></p>
        <p><%= date_field(:item, :date) %></p>
      </div>

      <div class="form-section">
        <p><%= i.label :info %></p>
        <p><%= i.text_field :body %></p>
      </div>

      <div class="form-section" id="item-new-other-submit">
        <%= i.submit %>
      </div>

      <div class="form-section">
        <%= link_to("Delete Item", trip_item_path, method: :delete) %>
      </div>
    </div>
  <% end %>
  </article>
</section>
