<div id="item-section">
  <div class="wrapper">
    <div id="item-container">
      <div id="image-details">
        <div id="item-image">
          <img src="<%= @item.image %>" alt="<%= @item.body %> image" />
        </div>
        <div id="item-details">
          <div class="item-wrapper">
            <h1><%= @item.title %></h1>
            <p><%= @item.body %></p>
            <p><%= @item.address %></p>
            <div id="item-vote">
              <form id="vote-item-form">
                <input class="vote-button" type="submit" value="ðŸ‘" />
                <% total_vote = 0 %>
                <% @item.votes.each do |vote| %>
                  <% total_vote += vote.up_down  %>
                <% end %>
                <input class="vote-count" type="text" value="<%= total_vote %> votes" />
                <input class="vote-button" type="submit" value="ðŸ‘Ž" />
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="item-comments">
        <h3>Comments:</h3>
        <div id="comment-container">
          <% @item.comments.each do |comment| %>
            <div class="comment-section">
              <p><%= comment.body %></p>
            </div>
            <div class="comment-details">
              <div class="comment-user-img">
                <img src="<%= comment.user.image %>" />
              </div>
              <div class="comment-user-name">
                <p><%= comment.user.email %></p>
              </div>
            </div>
          <% end %>
          <div class="add-comment">
            <%= form_for [@item.trip, @item], url: "/trips/#{@item.trip.id}/items/#{@item.id}/comments",method: 'POST' do |f| %>
              <%= f.text_field :body %>
              <%= f.submit "Enter Comment", class: 'comment-submit' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
