<section id="item-section">
  <%= link_to '<<< Go back to trip page', trip_path(@trip) %>
  <article id="item-wrapper">
      <div id="image-details">
        <div id="item-image">
          <img src="<%= @item.image %>" alt="<%= @item.body %> image" />
        </div>

        <div id="item-details">
          <div class="item-wrapper">
            <h1><%= @item.title %></h1>
            <p><%= @item.body %></p>
            <p><%= @item.address %></p>
            <p>Added by: <%= @item.user.email %></p>
            <div id="item-vote">
              <form method="post" action= "/trips/<%=@trip.id%>/items/<%=@item.id%>/votes" id="vote-item-form">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <button class="vote-button" type="submit" name="up_down" value="1"> 👍 </button>
                <% total_vote = 0 %>
                <% @item.votes.each do |vote| %>
                  <% total_vote += vote.up_down  %>
                <% end %>
                <input class="vote-count" type="text" value="<%= total_vote %> votes" />
                <button class="vote-button" type="submit" name="up_down" value="-1" >👎</button>
              </form>
            </div>
            <%= link_to 'Edit Item', edit_trip_item_path %>


            <%= form_for [@trip, @item] do |i| %> <!-- CHANGE DATE -->
              <div>
                <p><%= i.label :Day %></p>
                <% if @item.date %>
                  <%= i.select :date, @days, { :selected => @day }, { :onchange => "this.form.submit()" } %>
                <% else %>
                  <%= i.select :date, @days, {:include_blank => ''}, { :onchange => "this.form.submit()" } %>
                  <% end %>
              </div>
            <% end %> <!-- End of form_for on CHANGE DATE -->


            <%= form_for [@trip, @item] do |i| %> <!-- CHANGE TIME -->
              <div>
                <!-- ALEX MAKE SURE THIS IS ONLY ON THE DAY SHOW PAGE, otherwise if they change the time it will AUTO set the date to today -->
                <p><%= i.label :Time %></p>
                <%= i.select :date, [['Morning', '08:00:00'], ['Afternoon', '14:00:00'], ['Night', '20:00:00']], {:include_blank => 'Change Time'}, { :onchange => "this.form.submit()" } %>
                <!-- NAT you can delete this. these are the day sections  -->
                    <% if @item.date %>
                      <h2><%= @item.date %></h2>
                      <p><%= @item.date.change(hour: 8) %></p>
                      <p><%= @item.date.change(hour: 14) %></p>
                      <p><%= @item.date.change(hour: 20) %></p>
                    <% end %>
              </div>
            <% end %> <!-- End of form_for on CHANGE DATE -->


          </div> <!-- End item-wrapper -->
        </div> <!-- End item-details -->
      </div> <!-- End image-details -->
  </article>
</section>
