<!DOCTYPE html>
<html>
  <head>
    <title>Vacation</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:900|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="nav-dropdown">
      <button class="nav-dropbtn">=</button>
      <div class="nav-dropdown-content">
        <p><%= link_to "Recess", root_path %><p>
        <p><%= link_to "About", about_path %><p>
        <% if logged_in? %>
          <p><%=link_to "My trips", user_path(current_user) %></p>
          <p><%=link_to "Create New Trip", new_trip_path %></p>
          <p><%=link_to "LOG OUT", logout_path, method: :delete %></p>
        <% else %>
          <p><%= link_to "SIGN UP", signup_path %></p>
          <p><%= link_to "LOGIN", login_path %></p>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
