<!DOCTYPE html>
<html>
  <head>
    <title>Vacation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="topnav">
      <%=link_to "My trips", @user %>
      <%= link_to "RECESS HOME", root_path %>
      <% if logged_in?%>
        <%= link_to "Add trip", new_trip_path%>
        <!-- revisit sign out, depends on our authentication-->
        <%= link_to "SIGN OUT", root_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
